.container {
    /* border: 2px solid red;
    border-style: solid; */
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px; /* Default margin for larger screens */
  }
  
  @media (max-width: 1025px) {
    .container {
        width: 120vw;
      margin-right: auto; /* Set margin to 0 for smaller screens */
    }
  }